@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2>An error occurred while processing your request.</h2>

<p>Please try to reload the page and check your Internet connection.</p>

<p>If it won't help, contact support and provide request ID.</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@Html.ActionLink("Back to Main page", "Index", "Home", null, new { @class = "btn btn-primary" })
